WarningsAsErrors: ""
HeaderFilterRegex: "^(client|common|server|tests)/"
FormatStyle: none
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-duplicate-include,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-include,
  -bugprone-unchecked-optional-access,
  -performance-no-automatic-move
