[Unit]
Description=NASFS Server
After=network.target

[Service]
Type=forking
PIDFile=/usr/local/var/run/nasfs/nasfs-server.pid
ExecStart=/usr/local/bin/nasfs_server /usr/local/etc/nasfs/nasfs.conf
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
